.DS_Store

*.pbxuser
*.perspective
*.perspectivev3
app/src/vc11/Debug/*
app/src/vc11/Build/*
app/src/xcode/build/*
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcworkspace
xcuserdata


*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

web/node_modules/*
